@charset "utf-8";
.siteimage  {
    width: 100%;
    height: 250px;
}
.banner {
}
.sitetitle {
    color: #960002;
    text-align: center;
    font-weight: 600;
    font-size: 80px;
}


.banner .siteimage {
}
.fluid {
    width: 100%;
    height: 100%;
}
